node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Other files
androidBin.md

# src/components/Files2.tsx
# src/components/Files.tsx
