<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   Ventus-macos

   Created by Karan Haresh Lokchandani on 23/11/24.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
   <!-- For local network access -->
    <key>NSLocalNetworkUsageDescription</key>
    <string>This app needs to access your local network to sync files</string>
    
    <!-- For Bonjour services if you're using them -->
    <key>NSBonjourServices</key>
    <array>
        <string>_myapp._tcp</string>
    </array>
    
    <!-- If you need internet access -->
    <key>NSAllowsArbitraryLoads</key>
    <true/>
</dict>
</plist>
